@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-bg: hsl(217, 54%, 11%);  /* Main background-color*/
    --very-dark-blue-card: hsl(216, 50%, 16%); /*Card color*/
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}   

body {
    padding: 3.75rem 1.25rem 0;
    background-color: var(--very-dark-blue-bg);
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.container {
    max-width: 24.375rem;
    background-color: var(--very-dark-blue-card);
    padding: 1.438rem;
    border-radius: 1.125rem;
}

.main-img {
    border-radius: 0.5rem;
    position: relative;
}

.hidden-image {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 60%);
    width: 100%;
    height: calc(100% - 4px);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hidden-image:hover {
    opacity: 1;
    cursor: pointer;
}

.hidden-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-weight: 400;
    color: var(--white);
    margin: 1.25rem 0.5rem;
}

h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

p {
    color: var(--soft-blue);
    font-weight: 300;
    margin: 0 0.5rem 0;
}

/* First paragraph with the line height */

.space-between {
    line-height: 1.5;
}


ul {
    list-style: none;
    font-size: inherit;
    color: var(--soft-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 0;
    border-bottom: 1px solid var(--very-dark-blue-line);
}

ul li {
    display: flex;
    align-items: center;
}

ul li img {
    margin-right: 0.4rem;
}

.cyan {
    color: var(--cyan);
    font-weight: 400
}

.days-left {
    font-weight: 300;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 1rem;
}

.avatar img {
    width: 2.5rem;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 1rem;
}

span {
    color: var(--white);
}

span:hover {
    color: var(--cyan);
    cursor: pointer;
}

/* Attribution */

.attribution {
    font-size: 0.813rem;
    text-align: center;
    color: white;
    margin-top: 0.938rem;
}

.attribution a {
    color: var(--soft-blue);
}
